body {
    margin: 0;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header2 {
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{ 
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
}

.footer {
    background-color:#1F2937;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 8px 16px;
    background-color: #3882F6;
    color: #ffffff;
    border-radius: 5px;
}
