body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.header2 {
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight:900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{ 
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    padding: 16px;
}

.four-images{
    width: 100%;
    padding: 16px;
    display: flex;
    gap: 16px;
    flex: 1 1 auto;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding: 16px;
    font-style: italic;
}

.thor{
    padding: 16px;
    font-weight: bold;
    text-align: right;
}

.banner {
    padding: 16px;
    margin: 32px;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.footer {
    padding: 16px;
    background-color:#1F2937;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 8px 16px;
    background-color: #3882F6;
    color: #ffffff;
    border-radius: 5px;
    border-color: #F9FAF8;
}

.sign-up {
    padding: 16px 0px;
}


img {
    width: 50%;
    border-radius: 5px;
}